.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto";
    background-color: #d97bcf;
    color: white;
    box-sizing: border-box;
}
.left-heading{
    
}
.right-heading{
    padding-right: 10px;
    font-size: 20px;
}
.logo{
    font-size: 35px;
    margin-left: 5px;
}